@import url("https://rsms.me/inter/inter.css");
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
    font-feature-settings: "case", "cpsp", "salt";
  }
}

#app {
  @apply bg-gray-100;
}

label {
  @apply text-sm font-medium py-2 w-max;
}
input {
  @apply bg-dark-50 rounded-md px-3 py-2 text-sm ring ring-transparent transition focus:outline-none focus:ring-blue-300;
}
